@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');
/*Tekst family "START"*/

/*Headlines (SemiBold)*/
h1{
    font-family: 'open sans';
    font-weight: 600;
    font-size: 30px;
    align-content: center;
    color: #0C213E;
}
/*Hvid stor knap "Ring nu" (BOLD)*/
h2{
   font-family: 'open sans';
    font-weight: 700;
    font-size: 21px;
    align-content: right;
    color: #ffffff; 
}
/*Knapper (light)*/
h3{
    font-family: 'open sans';
    font-weight: 300;
    font-size: 15px;
    align-content: left;
    color: #0C213E; 
}
/*Tekst felter med regular 15px*/
h4{
    font-family: 'open sans';
    font-weight: 400;
    font-size: 15px;
    align-content: center;
    text-align: top center;
    color: #0C213E; 
}

h5{
    margin-top: 0%;
    font-family: 'open sans';
    font-weight: 400;
    font-size: 20px;
    align-content: top;
    color: #ffffff; 
}
/*Tekst family "SLUT"*/

/*BODY Start*/
body {
	background-color: #EEEEEE;
	overflow: hidden;
    margin 0;
    padding: 0;
}
/*BODY Slut*/

/*Jonas start*/

/*Burgermenu, Headline & box*/

.menuogbox{
    z-index: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.menu{
    z-index: 1;
    grid-column-start: 1;
    grid-row-start: 1;
}

.box{
    margin-top: 60%;
    width: 100%;
    height: 100vh;
    z-index: 2;
    grid-column-start: 1;
    grid-row-start: 1;
}

.overskrift{
    margin-top: 20%;
    justify-self: center;
    z-index: 3;
    grid-column-start: 1;
    grid-row-start: 1;
}

.drives{
    margin-top: 65%;
    justify-self: center;
    z-index: 4;
    grid-column-start: 1;
    grid-row-start: 1;
}

.aktiv{
    margin-top: 45%;
    justify-self: center;
    z-index: 5;
    grid-column-start: 1;
    grid-row-start: 1;
}

/*Buttons*/

.listgrid{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70%;
    z-index: 3;
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 2;
    display: grid;
    grid-template-columns: 10% 10% 5% 55% 5% 10% 10%;
    grid-template-rows: 14% 14% 14% 14% 14%;
}

/*
t = tekst
i = Ikon
p = Pil
l = linje
*/

/*Instruments symboler (START)*/

.t1{
    z-index: 1;
    grid-column-start: 4;
    grid-row-start: 1;
}

.i1{
    grid-column-start: 2;
    grid-row-start: 1;
    color: #0C213E;
    width: 100%;
}

.p1{
    justify-self: center;
    grid-column-start: 6;
    grid-row-start: 1;
}

.l1{
    margin-top: 100%;
    z-index: 2;
    grid-column-start: 2;
    grid-row-start: 1;
  }
/*Instruments symboler (SLUT)*/

/*DriveClever (START)*/
.t2{
    grid-column-start: 4;
    grid-row-start: 2;
}

.i2{
    grid-column-start: 2;
    grid-row-start: 2;
    color: #0C213E;
    width: 100%;
}

.p2{
    justify-self: center;
    grid-column-start: 6;
    grid-row-start: 2;
}

.l2{
    margin-top: 150%;
    z-index: 2;
    grid-column-start: 2;
    grid-row-start: 2; 
}
/*DriveClever (SLUT)*/

/*DriveSafe (START)*/
.t3{
    grid-column-start: 4;
    grid-row-start: 3;
}

.i3{
    
    grid-column-start: 2;
    grid-row-start: 3;
    color: #0C213E;
    width: 100%;
}

.p3{
    justify-self: center;
    grid-column-start: 6;
    grid-row-start: 3;
}

.l3{
    margin-top: 120%;
    z-index: 2;
    grid-column-start: 2;
    grid-row-start: 3;
}
/*DriveSafe (SLUT)*/


/*Mine dokumenter (START)*/
.t4{
    grid-column-start: 4;
    grid-row-start: 4;
}

.i4{
    grid-column-start: 2;
    grid-row-start: 4;
    color: #0C213E;
    width: 100%;
}

.p4{
    justify-self: center;
    grid-column-start: 6;
    grid-row-start: 4;
}

.l4{
    margin-top: 130%;
    z-index: 2;
    grid-column-start: 2;
    grid-row-start: 4;
}
/*Mine dokumenter (SLUT)*/

/*Support (START)*/
.t5{
    grid-column-start: 4;
    grid-row-start: 5;
}

.i5{
    grid-column-start: 2;
    grid-row-start: 5;
    color: #0C213E;
    width: 100%;
}

.p5{
    justify-self: center;
    grid-column-start: 6;
    grid-row-start: 5;
}

.l5{
    margin-top: 130%;
    z-index: 2;
    grid-column-start: 2;
    grid-row-start: 5;
}
/*Support (SLUT)*/

/*Jonas slut*/

/*Nicoline start*/

.forsidelogo{
    grid-column-start: 2;
    grid-row-start: 1;
    margin-left: 50%;
    margin-top: 10%;
    
}

input[type=nummerplade] {
  grid-column-start: 2;
  grid-row-start: 3;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #0E294E;
  font-family: 'open sans';
  font-size: 15px;
  background-color: #EEEEEE; 
  color: #0E294E;
  font-weight: 400;
}

.adgangskode{
    margin-left: 100%;
}

input[type=password] {
  grid-column-start: 2;
  grid-row-start: 5;
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #0E294E;
  font-family: 'open sans';
  font-size: 15px;
  background-color: #EEEEEE; 
  color: #0E294E;
  font-weight: 400;

}

.logindlogin{
    text-align: center;
    grid-column-start: 2;
    grid-row-start: 7;
    background-color: #0E294E;
    border: none;
    border-radius: 19px;
    width: 100%;
    height:100%; 
    font-size: 50px;
}

.opretbruger{
    grid-column-start: 2;
    grid-row-start: 10;
    font-size: 15px;
    color: #ffffff;
    font-family: 'open sans';
    font-weight: 400;
    color: #0E294E;
    
   
}

.glemtkode{
    grid-column-start: 3;
    grid-row-start: 10;
    font-size: 15px;
    color: #ffffff;
    font-family: 'open sans';
    font-weight: 400;
    color: #0E294E;
    margin-left: -1430%;
   
}

/*
.line1{
grid-column-start: 2;
grid-row-start: 9;
display: block;
border-style: inset;
border-width: 1px;
margin-right: -2%;
width= 1000%;

}

.line2{
grid-row-start: 9;
grid-row-start 10; 
display: flex;
border-style: inset;
border-width: 1px;
width: 1000%;

} 
*/

.logindgrid{
    z-index: 31;
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-rows: 20em 1em 4em 1em 4em 4em 3em 1em 1em 1em 1em 2em 1em;
}

.logogrid{
    z-index: 32;
    display: grid;
    grid-template-columns: 10px 200px 200px 10px;
    grid-template-rows: 10;
    
}

/*
.linegrid{
    z-index: 33;
    display: grid;
    grid-template-columns: 10px auto 10px;
    grid-template-rows: 20em 1em 4em 1em 4em 4em 6em 2em 1em 1em 2em 1em;
}
*/



/*
@media screen and (max-width: 374px) {  
    
  }
*/
/*Documents*/


/*Chat*/

.chatbox{
 margin-left: %
}

.logochat{
    position: absolute;
    margin-left: -70%;
    margin-top: 15%;
}
   

.container{
  width:100%;
  height: 100%;
  cursor: default;
  margin: auto;
  overflow-y: scroll;
}

.container::-webkit-scrollbar{
width: 3px;
max-width: 3px;
height: auto;
max-height: 8px;
}

.container::-webkit-scrollbar-thumb{
background: #f0f0f0;
border-radius: 5px;
max-width: 3px;
}
.container::-webkit-scrollbar-track {
background: #0E294E;
  border-radius:5px;
}

.Area{
  margin: auto;
  width:400px;
  background-color:rgba(240, 240, 240, 0.2);
  display:table;
  padding:5px;
  border-radius:19px;
  margin-bottom:10px;
}
.L{   
  float:left;
}

.chaticon{
  width:50px;
  height:50px;
  border-radius:50%;
  border:1px solid #0E294E;
  padding:5px;    
}

.chaticonlady{
     width:50px;
  height:50px;
  border-radius:50%;
  border:1px solid #0E294E;
  padding:5px;    
}





img:hover{
    -moz-box-shadow: 0 5px 5px rgba(#0E294E);
-webkit-box-shadow: 0 5px 5px rgba(14, 41, 78));
box-shadow: 0 5px 5px rgba(14, 41, 78);
       -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    transition: all 1.5s;
  cursor:pointer;
}
.R{
    float:right;
}
.text{
  color: #0E294E;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight:lighter;
  line-height: 30px;
  width:300px;
  border:2px solid #f0f0f0;
  background-color:rgba(255, 255, 255, 0.6);
  margin-top:10px;
  border-radius:19px;
  padding:10px;  
}

.Area textarea{
  font-size:18px;
  width:90%;
  max-width:90%;
  min-width:90%;
  padding:5%;
  border-radius:5px;
  border:1px solid #f0f0f1;
  max-height:50px;
  height:50px;
  min-height:50px;
  background-color:#E3E3E3;
  color:#0E294E;
  outline:none;
  border:1px solid transparent;
  resize:none;
}
.Area textarea:focus{
  color:#00000029;
     -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    transition: all 1.5s;
  background-color:#fff;
}

.R .tooltip{
  font-family: "open sans";
  font-size:15px;
  position:absolute;
  background-color:#fff;
  padding:5px;
  border-radius:5px;
  border:2px solid #0E294E;
  margin-left:70px;
  margin-top:-70px;
  display:none;
  color: #0E294E;
  font-weight: 200;
}
.R .tooltip:before{
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    border-right-color: #0E294E;
    margin-top: 10px;
    margin-left: -17px;
    color: #0E294E;
    font-family: "open sans";
}
.R:hover .tooltip{
  display:block;
}

.L .tooltip{
  font-size:15px;
  position:absolute;
  background-color:#fff;
  padding:5px;
  border-radius:5px;
  border:2px solid #0E294E;
  margin-left:70px;
  margin-top:-70px;
  display:none;  
  font-family: "open sans";
  font-weight: 200;
  color: #0E294E;
}
.L .tooltip:before
{
    content: '';
    position: absolute;
    width: 1px;
    height: 1px;
    border: 5px solid transparent;
    border-right-color: #0E294E;
    margin-top: 10px;
    margin-left: -17px;
}
.L:hover .tooltip{
  display:block;
}

a{
  text-decoration:none;
}


.Area input[type=button]{
  font-size:20px;
  font-family: "open sans";
  padding:5px;
  border-radius:5px;
  border:1px solid #f0f0f1;
  background-color:#333;
  color:#0E294E;
  outline:none;
  border:2px solid transparent;
  float:left;
}
.Area input[type=button]:hover{
  color:#fff;
  border:1px solid #00000029;
     -webkit-transition: all 1.5s;
    -moz-transition: all 1.5s;
    transition: all 1.5s;
  background-color: #0E294E;
} 

.validation{
  float:left;
  background-color:#ccc;
  border-radius:5px;
  padding:5px;
  font-size:12px;
  line-height:14px;
  height:0px;
  margin-left:5px;
  display:none;
}

br{
  clear:both;
  height:20px;
}
    
/*Nicoline slut*/



/*Joachim start*/
/*Burgermenu, Headline & box*/

.cmenuogbox{
    z-index: 1;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
}

.cmenu{
    z-index: 1;
    grid-column-start: 1;
    grid-row-start: 1;
}

.cbox{
    margin-top: 60%;
    width: 100%;
    height: 100vh;
    z-index: 2;
    grid-column-start: 1;
    grid-row-start: 1;
}

.coverskrift{
    margin-top: 20%;
    justify-self: center;
    z-index: 3;
    grid-column-start: 1;
    grid-row-start: 1;
}

.bilen{
    margin-top: 85%;
    justify-self: center;
    z-index: 4;
    grid-column-start: 1;
    grid-row-start: 1;
}


/*Buttons*/

.clistgrid{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70%;
    z-index: 3;
    grid-column-start: 1;
    grid-row-start: 1;
    z-index: 2;
    display: grid;
    grid-template-columns: 10% 10% 5% 55% 5% 10% 10%;
    grid-template-rows: 14% 14% 14% 14% 14%;
}

/*
t = tekst
i = Ikon
p = Pil
l = linje
*/

/*Mine dokumenter (START)*/
.ct1{
    grid-column-start: 4;
    grid-row-start: 4;
}

.ci1{
    grid-column-start: 2;
    grid-row-start: 4;
    color: #0C213E;
    width: 100%;
}

.cp1{
    justify-self: center;
    grid-column-start: 6;
    grid-row-start: 4;
}

.cl1{
    margin-top: 130%;
    z-index: 2;
    grid-column-start: 2;
    grid-row-start: 4;
}
/*Mine dokumenter (SLUT)*/

/*Support (START)*/
.ct2{
    grid-column-start: 4;
    grid-row-start: 5;
}

.ci2{
    grid-column-start: 2;
    grid-row-start: 5;
    color: #0C213E;
    width: 100%;
}

.cp2{
    justify-self: center;
    grid-column-start: 6;
    grid-row-start: 5;
}

.cl2{
    margin-top: 130%;
    z-index: 2;
    grid-column-start: 2;
    grid-row-start: 5;
}
/*Support (SLUT)*/
/*Joachim slut*/


/*Ida start*/

/*Ida slut*/
