@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap');

/*BODY Start*/
body {
	background-color: #EEEEEE;
}

/*BODY Slut*/


/*Jonas start*/

/*Jonas slut*/



/*Nicoline start*/
@media screen and (max-width: 992px)
    
.logingrid{
    display: grid
}
input[type=nummerplade] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #0E294E;
  font-family: 'open sans';
  font-size: 15px;
  background-color: #EEEEEE; 
  color: #0E294E;
}
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #0E294E;
  font-family: 'open sans';
  font-size: 15px;
  background-color: #EEEEEE; 
  color: #0E294E;
}


/*Nicoline slut*/



/*Joachim start*/

/*Joachim slut*/



/*Ida start*/

/*Ida slut*/
